/* General styling */
* {
  font-family: monospace;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: azure;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  cursor: default;
}
body {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes full viewport height */
}

p {
  margin-top: 10px;
  text-align: left;
}

h3 {
  display: inline-block;
  padding: 5px;
  color: white; /* Standardfarbe des Textes */
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease; /* Übergangseffekt für Textfarbe */
}

h3:hover {
  text-decoration: none; /* Unterstreichung bei Hover ausblenden */
  color: white; /* Textfarbe bei Hover */
}
h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px; /* Höhe der Unterstreichung */
  background-color: rgb(75, 75, 75); /* Weiße Farbe der Unterstreichung */
  transition: width 0.3s ease; /* Übergangseffekt für Unterstreichung */
}
h3:hover::after {
  width: 100%; /* Breite der Unterstreichung bei Hover */
}

#header {
  position: relative;
  height: 300px; /* Höhe des Headers */
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to bottom,
    #4d028b,
    #000000
  ); /* Verlauf von oben nach unten */
}

#content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex: 1; /* Ensures the content-container takes the remaining space */
  padding: 40px;
  box-sizing: border-box;
}

#profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px; /* Passt den Abstand an */
}

.follower,
.playlists {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255); /* Default text color */
  position: relative;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.social-media {
  display: flex;
  filter: invert(100%) brightness(50%);
  margin: 30px;
  gap: 15px;
  cursor: pointer; /* Zeigt an, dass es sich um einen interaktiven Button handelt */
}
.follower,
.playlists {
  display: inline-block;
  padding: 5px;
  color: white; /* Standardfarbe des Textes */
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease; /* Übergangseffekt für Textfarbe */
}

.follower:hover,
.playlists:hover {
  text-decoration: none; /* Unterstreichung bei Hover ausblenden */
  color: white; /* Textfarbe bei Hover */
}

.follower::after,
.playlists::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px; /* Höhe der Unterstreichung */
  background-color: rgb(75, 75, 75); /* Weiße Farbe der Unterstreichung */
  transition: width 0.3s ease; /* Übergangseffekt für Unterstreichung */
}

.follower:hover::after,
.playlists:hover::after {
  width: 100%; /* Breite der Unterstreichung bei Hover */
}

.album-cover {
  display: flex;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 5%;
}

.song-preview {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
}

.song-preview-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

#audio-player-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5%;
}

#progress-bar-container {
  width: 70%;
  height: 20px;
  background-color: #333; /* Background color of the progress bar container */
  border-radius: 5%;
  margin: 15px;
  border-radius: 60px;
  align-items: center;
}

.progress-bar {
  height: 100%;
  background-color: rgb(255, 255, 255); /* Color of the progress bar */
  border: 1px solid #000000;
  border-radius: 60px;
}

.play-icon,
.pause-icon,
.prev-icon,
.next-icon {
  width: 65px;
  height: 65px;
  cursor: pointer;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: none;
  border-radius: 50%;
  margin-bottom: 10px;
  border: #333;
}

.play-icon {
  position: relative; /* Ensure proper positioning for the triangle */
  transform: rotate(90deg);
  background-color: white;
  content: "";
}

.play-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(90deg); /* Rotate the triangle */
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid rgb(0, 0, 0);
}

.pause-icon {
  width: 65px;
  height: 65px;
  background-color: transparent;
  position: relative;
  border: 2px solid white;
  background-color: white;
  color: #000000;
}

.pause-icon:before,
.pause-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 24px;
  background-color: rgb(0, 0, 0);
}

/*block right and left*/
.pause-icon:before {
  left: 14px;
}

.pause-icon:after {
  right: 14px;
}
.prev-icon {
  position: relative;
  background-color: black;
}

.prev-icon::before,
.prev-icon::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 20px solid white;
}

.prev-icon::before {
  left: 10px;
}

.prev-icon::after {
  left: 30px;
}

.next-icon {
  position: relative;
  background-color: black;
}

.next-icon::before,
.next-icon::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid white;
}

.next-icon::before {
  right: 30px;
}

.next-icon::after {
  right: 10px;
}

.song-preview-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Add spacing between the buttons */
}

.circleelement {
  width: 300px;
  height: 300px;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-position: center;
  background-image: url("images/user.jpeg");
  filter: brightness(70%);
}

#middle-container {
  position: sticky;
  top: 250px; /* Adjust the top offset as needed */
  transform: translateY(-300px);
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile {
  transform: translateY(-00px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playlist-item {
  display: flex;
  flex-direction: column;
  width: 425px;
  background-color: black;

  border-radius: 5px;
  align-items: flex-start;
  justify-content: space-between;
}

.albumimg {
  border-radius: 5%;
  display: flex;
  width: 70px;
  height: 70px; /* Corrected typo: changed '70py' to '70px' */
  align-self: flex-start; /* Align the items to the start (left) of their container */
}

.shuffle-button {
  width: 50px;
  height: 50px;
  background-image: url("images/shuffle-button.svg");
  background-size: contain; /* Optional: Anpassen der Größe des Hintergrundbilds */
  border: none;
  border-radius: 50%;
  margin-left: 18px;
  align-items: flex-end;
  cursor: pointer; /* Zeigt an, dass es sich um einen interaktiven Button handelt */
  filter: brightness(60%);
}
.shuffle-button.active {
  filter: brightness(60%);
  filter: invert(20%);
}

#footer {
  height: 200px; /* Beispielhöhe für den Footer */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    #4d028b,
    #000000
  ); /* Verlauf von oben nach unten */
}

.track-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #1c1c1c;
  width: 393px;
  text-align: center; /* Center the content horizontally */
  align-items: center;
  box-shadow: 5px 0px 5px 5px rgba(1, 1, 0, 1);
  cursor: pointer; /* Zeigt an, dass es sich um einen interaktiven Button handelt */
}

.track-item p {
  text-align: center; /* Center the text horizontally */
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  margin: 0; /* Remove default margin to ensure complete centering */
}

.track-item audio {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  display: none; /* Hide the default audio controls */
}

.playing {
  background-color: #333;
}

.song_title {
  font-weight: bold;
}

.artist-title {
  font-weight: bold;
}

#current-time {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}
#duration {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}
.time {
  display: flex;
  align-items: center;
  font-weight: bold;
}
